@import 'tailwindcss';

@theme {
  /* typography */
  --text-32: 32px;
  --text-24: 24px;
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
  --text-14: 14px;
  --text-13: 13px;
  --text-12: 12px;
  --text-11: 10px;

  --text-20-body: 20px;
  --text-20-body--line-height: 1.6;
  --text-18-body: 18px;
  --text-18-body--line-height: 1.4;
  --text-16-body: 16px;
  --text-16-body--line-height: 1.8;
  --text-14-body: 14px;
  --text-14-body--line-height: 1.8;

  /* White & Black */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Gray Scale */
  --color-gray-25: #f8f8f8;
  --color-gray-50: #edeef2;
  --color-gray-100: #e0e0e5;
  --color-gray-200: #c6c8cf;
  --color-gray-300: #b3b4bc;
  --color-gray-400: #9fa0a7;
  --color-gray-500: #84858c;
  --color-gray-600: #707177;
  --color-gray-700: #5d5d61;
  --color-gray-800: #49494c;
  --color-gray-900: #323236;
  --color-gray-950: #1f1f22;

  /* Brand Colors */
  --color-primary-100: #e5f3ff;
  --color-primary-500: #3d9ef2;

  /* Red */
  --color-red-500: #ff2727;

  /* breakpoint */
  --breakpoint-md: 744px; /* 744px~ tablet */
  --breakpoint-lg: 1200px; /* 1200px~ web */
  --breakpoint-gnb: 1580px;
}

@layer base {
  /* custom reset */
  * {
    @apply leading-[1.2] text-inherit;
  }

  body {
    @apply text-gray-950;
  }

  button {
    @apply cursor-pointer;
  }